body {
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  -webkit-user-select: none;
  user-select: none;
  background-color: rgb(69, 90, 100);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.demo-card {
  width: 80vw;
  margin: 20px auto;
}

#enter-ar-info .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: rgb(96, 125, 139);
}

body.unsupported #enter-ar-info {
  display: none;
}

body.ar #enter-ar-info {
  display: none;
}

#unsupported-info {
  display: none;
}

body.unsupported #unsupported-info {
  display: block;
}

#info {
  position: absolute;
  top: 20px;
  z-index: 10;
  line-height: 2em;
  text-align: center;
  display: none;
  width: 100%;
}

body.ar #info {
  display: block;
}

#info * {
  color: #fff;
}

#stabilization {
  background-image: url(../assets/stabilization.gif);
  background-size: contain;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 10;
  display: none;
}

body.ar #stabilization {
  display: block;
}

body.ar.stabilized #stabilization {
  display: none;
}

.gamesBody .head {
  width: 80%;
  margin: 0 auto;
  height: 155px;
  font-size: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.effect {
  font-family:'Arial Black', sans-serif;
  line-height:1em;
  color:#ffffff;
  font-weight:bold;
  font-size:35px;
  text-shadow:0px 0px 0 rgb(22,22,22),1px 1px 0 rgb(-10,-10,-10),2px 2px 0 rgb(-42,-42,-42),3px 3px 0 rgb(-73,-73,-73),4px 4px 0 rgb(-105,-105,-105),5px 5px 0 rgb(-137,-137,-137),6px 6px 0 rgb(-169,-169,-169),7px 7px 0 rgb(-201,-201,-201), 8px 8px 0 rgb(-233,-233,-233),9px 9px 8px rgba(0,0,0,0),9px 9px 1px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,.2);
}

.gamesBody .games {  
  display: flex;
  flex-direction: row;
}

.gamesBody .games .chess .gameImage {
  width: 120px;
  -webkit-box-shadow: 9px 7px 12px -1px rgba(0,0,0,0.56); 
  box-shadow: 9px 7px 12px -1px rgba(0,0,0,0.56);
  border: 7px double rgba(28,110,164,0.56);
  border-radius: 40px 0px 40px 0px;
}

.gamesBody .games .chess .gameText {
  font-size: 24px;
  width: 120px;
  text-align: center;
  padding-top: 12px;
}

.gamesBody .games .chess .gameText.effectGameText  {
  font-family:'Arial Black', sans-serif;
  line-height:1em;
  color:#abd2f5;
  font-weight:bold;
  font-size:24px;
  text-shadow:0px 0px 0 rgb(-169,-130,-95),1px 1px 0 rgb(-254,-215,-180),2px 2px 0 rgb(-339,-300,-265), 3px 3px 0 rgb(-424,-385,-350),4px 4px 3px rgba(0,0,0,0),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);
}

.gamesBody .games img {
  width: 120px;
  height: 120px;
  border: 0px double rgba(28,110,164,0.56);
  border-radius: 34px 0px 34px 0px;
}

.gamesBody .games .chess label {
  font-size: 16px;
}

.gamesBody #credits{
  font-size: 18px;
}

.gamesBody #creditDetails.show {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.gamesBody #creditDetails {
  transition: visibility 0s linear 0.33s, opacity 0.33s linear;
  visibility: hidden;
  opacity: 0;
}